<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
<html dir="ltr" lang="en">
  <body>
    <p>Date: {{date}}</p>
    <p>Email: {{email}}</p>
    <p>Fulfillment Data:</p>
    <ul>
      <li>ID: {{fulfillment.id}}</li>
      <li>Created At: {{fulfillment.created_at}}</li>
      <li>Provider: {{fulfillment.provider_id}}</li>
      <li>Shipped At: {{fulfillment.shipped_at}}</li>
      <li>Canceled At: {{fulfillment.canceled_at}}</li>
      <li>Items:</li>
      <ul>
        {{#each fulfillment.items}}
        <li>
          Item ID: {{this.item_id}}
          Quantity: {{this.quantity}}
          Product Name: {{this.variant.product.name}}
          Variant Name: {{this.variant.name}}
        </li>
        {{/each}}
      </ul>
      <li>Tracking Numbers:</li>
      <ul>
        {{#each fulfillment.tracking_numbers}}
        <li>
          Tracking Number: {{this}}
          Carrier: {{this.carrier}}
          Service: {{this.service}}
        </li>
        {{/each}}
      </ul>
      <li>Gift Card Total: {{fulfillment.gift_card_total}}</li>
    </ul>
    <p>Locale: {{locale}}</p>
    <p>Order Data:</p>
    <ul>
      <li>Order ID: {{order.id}}</li>
      <li>Customer Email: {{order.customer.email}}</li>
      <li>Order Status: {{order.status}}</li>
      <li>Fulfillment Status: {{order.fulfillment_status}}</li>
      <li>Payment Status: {{order.payment_status}}</li>
      <li>Total: {{order.total}}</li>
      <li>Subtotal: {{order.subtotal}}</li>
      <li>Tax Total: {{order.tax_total}}</li>
      <li>Shipping Total: {{order.shipping_total}}</li>
      <li>Gift Card Total: {{order.gift_card_total}}</li>
      <li>Currency Code: {{order.currency_code}}</li>
      <li>Shipping Address:</li>
      <ul>
        <li>Name: {{order.shipping_address.first_name}} {{order.shipping_address.last_name}}</li>
        <li>Address 1: {{order.shipping_address.address_1}}</li>
        <li>Postal Code: {{order.shipping_address.postal_code}}</li>
      </ul>
      <li>Fulfillments:</li>
      <ul>
        {{#each order.fulfillments}}
        <li>
          ID: {{this.id}}
          Canceled At: {{this.canceled_at}}
          Items:
          <ul>
            {{#each this.items}}
            <li>
              Item ID: {{this.item_id}}
              Quantity: {{this.quantity}}
              Product Name: {{this.variant.product.name}}
              Variant Name: {{this.variant.name}}
              Tax Lines:
              <ul>
                {{#each this.tax_lines}}
                <li>
                  Code: {{this.code}}
                  Rate: {{this.rate}}
                </li>
                {{/each}}
              </ul>
            </li>
            {{/each}}
          </ul>
          Tracking Numbers:
          <ul>
    <p>a{{fulfillments.[0].tracking_links.[0].tracking_number}}</p>
    b{{fulfillments.tracking_links.[0].tracking_number}}
    c {{tracking_links.[0].tracking_number}}
    d {{order.fulfillments.[0].tracking_links.[0].tracking_number}}
    e {{order.fulfillments[0].tracking_links[0].tracking_number}}</p>
    
            {{#each this.tracking_links}}
              <li>
                Tracking Number: {{this.tracking_number}}
                Carrier: {{this.carrier}}
                Service: {{this.service}}
              </li>
            {{/each}}
          </ul>
          

           <ul>
  {{#each fulfillment.tracking_links as |tracking_link|}}
    <li>
      <!-- Accede a las propiedades de cada elemento en el array -->
      <p>{{tracking_link.tracking_number}}</p>
    </li>
  {{/each}}
</ul>
        </li>
        {{/each}}
      </ul>
    </ul>
  </body>
</html>
