<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
  <p>Date: {{date}}</p>
  <p>Email: {{email}}</p>
  <p>Fulfillment Data:</p>
  <ul>
    <li>ID: {{fulfillment.id}}</li>
    <li>Created At: {{fulfillment.created_at}}</li>
    <li>Provider: {{fulfillment.provider_id}}</li>
    <li>Shipped At: {{fulfillment.shipped_at}}</li>
    <li>Canceled At: {{fulfillment.canceled_at}}</li>
    <li>Items:</li>
    <ul>
      {{#each fulfillment.items}}
      <li>
        <p>Item ID: {{this.item_id}}</p>
        <p>Quantity: {{this.quantity}}</p>
        <p>Product Name: {{this.variant.product.name}}</p>
        <p>Variant Name: {{this.variant.name}}</p>
      </li>
      {{/each}}
    </ul>
    <li>Tracking Numbers:</li>
    <ul>
      {{#each fulfillment.tracking_numbers}}
      <li>
        <p>Tracking Number: {{this}}</p>
        <p>Carrier: {{this.carrier}}</p>
        <p>Service: {{this.service}}</p>
      </li>
      {{/each}}
    </ul>
    <li>Gift Card Total: {{fulfillment.gift_card_total}}</li>
  </ul>
  <p>Locale: {{locale}}</p>
  <p>Order Data:</p>
  <ul>
    <li>Order ID: {{order.id}}</li>
    <li>Customer Email: {{order.customer.email}}</li>
    <li>Order Status: {{order.status}}</li>
    <li>Fulfillment Status: {{order.fulfillment_status}}</li>
    <li>Payment Status: {{order.payment_status}}</li>
    <li>Total: {{order.total}}</li>
    <li>Subtotal: {{order.subtotal}}</li>
    <li>Tax Total: {{order.tax_total}}</li>
    <li>Shipping Total: {{order.shipping_total}}</li>
    <li>Gift Card Total: {{order.gift_card_total}}</li>
    <li>Currency Code: {{order.currency_code}}</li>
    <li>Shipping Address:</li>
    <ul>
      <li>Name: {{order.shipping_address.first_name}} {{order.shipping_address.last_name}}</li>
      <li>Address 1: {{order.shipping_address.address_1}}</li>
      <li>Postal Code: {{order.shipping_address.postal_code}}</li>
    </ul>
    <li>Fulfillments:</li>
    <ul>
      {{#each order.fulfillments}}
      <li>
        <p>ID: {{this.id}}</p>
        <p>Canceled At: {{this.canceled_at}}</p>
        <p>Items:</p>
        <ul>
          {{#each this.items}}
          <li>
            <p>Item ID: {{this.item_id}}</p>
            <p>Quantity: {{this.quantity}}</p>
            <p>Product Name: {{this.variant.product.name}}</p>
            <p>Variant Name: {{this.variant.name}}</p>
            <p>Tax Lines:</p>
            <ul>
              {{#each this.tax_lines}}
              <li>
                <p>Code: {{this.code}}</p>
                <p>Rate: {{this.rate}}</p>
              </li>
              {{/each}}
            </ul>
          </li>
          {{/each}}
        </ul>
        <p>Tracking Numbers:</p>
        <ul>
          {{#each this.tracking_numbers}}
          <li>
            <p>Tracking Number: {{this}}</p>
            <p>Carrier: {{this.carrier}}</p>
            <p>Service: {{this.service}}</p>
          </li>
          {{/each}}
        </ul>
      </li>
      {{/each}}
    </ul>
  </ul>
</body>
</html>
